{:web/db
 {:init-value {}}

 :web/app
 {:db #ig/ref :web/db}

 :web/server
 {:app #ig/ref :web/app
  :config #profile {:dev {:host "127.0.0.1"
                          :port 4201
                          :join? false}
                    :prod {:host #or [#env APP_HOST "0.0.0.0"]
                           :port #long #or [#env APP_PORT 4201]
                           :join? true}}}}
